@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: Lato;
}

.card {
  padding: 25px;
  width: 300px;
  height: 460px;
  border: 1px solid black;
}

.card_title {
  margin-bottom: 10px;
  font-weight: bold;
}

.schedule {
  display: flex;
  gap: 30px;
  align-items: center;
}
.schedule_title {
  text-align: start;
}
img {
  width: 100%;
}

.event_desc {
  text-align: justify;
  margin-top: 10px;
}

.event_desc h5 {
  margin-bottom: 5px;
}

.schedule_title {
  margin-bottom: 5px;
}

.event_desc p {
  font-size: 13px;
  color: rgba(153, 153, 153, 1);
}
.schedule p {
  font-size: 13px;
}
.reminder-dropdown {
  background: rgba(0, 184, 124, 1);
  outline: none;
  padding: 10px;
  border: none;
  color: white;
  margin-top: 30px;
}
